body{

	background-color:#D8D8D8; 
		
}
h2{
	font-family: sans-serif;
	color: #A9A9F5;
}
hr {
  height: 3px;
  background-color: #A9A9F5;
}
#actionbutton{
font-family: sans-serif;
font-size: medium;
font-weight: bold;
border-width:4px;
border-color: #A9A9F5;
border-radius: 4px;
width: 200px;
height: 30px;
background-color: #5882FA;
margin-left: 50px;
}
#resetbutton{
	font-family: sans-serif;
	font-size: medium;
	font-weight: bold;
	border-width:4px;
	border-color: #A9A9F5;
	border-radius: 4px;
	width: 200px;
	height: 30px;
	background-color: #5882FA;
	margin-left: 50px;
	}


.form-group{
font-family: sans-serif;
font-size: medium;
font-weight: bold;
}

[name="txtCodigo"]{

border-width:2px;
border-color: #A9A9F5;
border-radius: 4px;
width: 300px;
height: 30px;
background-color: #E6E6E6;	

}
[name="txtUsuario"]{
border-width:2px;
border-color: #A9A9F5;
border-radius: 4px;
width: 300px;
height: 30px;		
background-color: #E6E6E6;	
}
[name="txtCumpleaños"]{
border-width:2px;
border-color: #A9A9F5;
border-radius: 4px;
width: 300px;
height: 30px;
background-color: #E6E6E6;	
font-family: sans-serif;
}
[name="listCiudades"]{
border-width:2px;
border-color: #A9A9F5;
border-radius: 4px;
width: 305px;
height: 35px;
background-color: #E6E6E6;	
font-family: sans-serif;
}
[name="txtEmail"]{
border-width:2px;
border-color: #A9A9F5;
border-radius: 4px;
width: 300px;
height: 30px;		
background-color: #E6E6E6;	
}